:root {
  --background-color: rgb(58, 71, 100);
  --head-text: white;
  --input-background: rgb(24, 32, 52);
  --container-numbers-background: rgb(35, 44, 67);
  --numbers-background: rgb(234, 227, 220);
  --numbers-color: rgb(68, 75, 90);
  --del-rest-background: rgb(99, 112, 151);
  --del-rest-color: white;
  --cicle-equal: rgb(208, 63, 47);
  --equl-color: rgb(68, 75, 90);
  --cicle-pos: 6px;
}
